<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FoundersDirectory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF1279171F7420A90084E469</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF12792B1F7420A90084E469</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF1279361F7420AA0084E469</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
